<p>Welcome <%= @user.name %>! <%= link_to("Click here to logout.)", session_path %></p>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
